/* Proyectos.css */

.contenedor__Proyectos {
  width: 100%;
  padding: 150px 20px;
  background-color: #f1f1f1;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  max-width: 1200px;
}

.titulo__Proyectos {
  font-size: 2.5em;
  color: var(--color-primario);
  text-align: center;
  margin-bottom: 30px;
}

.proyecto__Proyectos {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.proyecto__Proyectos:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.proyecto__Proyectos h2 {
  font-size: 1.8em;
  color: var(--color-primario);
  margin-bottom: 10px;
}

.proyecto__Proyectos p {
  font-size: 1.2em;
  color: #555;
  margin: 5px 0;
}

.proyecto__Proyectos p strong {
  color: var(--color-primario);
}

.btn__Proyectos {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: var(--color-primario);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 10px;
  text-align: center;
}

.btn__Proyectos:hover {
  background-color: #fff;
  color: var(--color-primario);
  border: 1px solid var(--color-primario);
  transform: scale(1.05);
}
